<%- include("../partials/header") %>
    <section id="about">
      <div class="container" style="height: 381px;">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Series</h2>
            <p class="lead">Todas as séries cadastradas <a href="/series/nova" class="btn btn-info">Cadastrar nova série</a></p>
            <table class="table table-hover">
              <% results.data.forEach( serie => { %>
                <tr>
                  <td>
                    <a href="/series/info/<%=serie._id %>"> <%= serie.name %></a>
                  </td> 
                  <td>
                    <span class="badge badge-secondary"><%- labels.filter(label => label.id === serie.status)[0].name %></span>
                    <!-- <%- serie.status %> </td> -->
                  <td>
                    <a href="/series/excluir/<%= serie._id%>">Excluir</a>
                    <span>|</span>
                    <a href="/series/editar/<%= serie._id%>">Editar</a>
                  </td>
                </tr>
              <% }) %>
            </table>

            <nav aria-label="...">
              <ul class="pagination">

                <% if(results.pagination.currentPage>0){ %>
                <li class="page-item">
                  <a class="page-link" href="/series?page=<%=results.pagination.currentPage-1 %>&pageSize=<%= results.pagination.pageSize %>" tabindex="-1">Anterior</a>
                </li>
                <% } %>

                <% for(let i=0; i < results.pagination.pages; i++){ %>
                <li class="page-item<% if(i==results.pagination.currentPage){%> active <%}%>">
                  <a class="page-link" href="/series?page=<%= i %>&pageSize=<%= results.pagination.pageSize %>"><%= i+1 %></a>
                </li>
                <% } %>

                <% if(results.pagination.currentPage < results.pagination.pages-1){ %>
                <li class="page-item">
                  <a class="page-link" href="/series/?page=<%= results.pagination.currentPage+1%>&pageSize=<%= results.pagination.pageSize%>">Proximo</a>
                </li>
                <% } %>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </section>
<%- include("../partials/footer") %>