<%- include("../partials/header") %>
  <section id="about">
    <div class="container" style="height: 381px;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form method="post">
            <h2>Sobre a série: <%= serie.name %></h2>
            <div class="form-group">
              Nome da série: <%= serie.name %>
            </div>
            <textarea name="comentario" class="form-control" id="" cols="30" rows="10"></textarea>
            <input class= "btn btn-info mt-4" type="submit" value="Adicionar comentario">
            <% serie.comments.forEach( c => { %>
              <div class="card m-2 p-1">
                <%= c %>
              </div>
            <% }) %>
            <%=JSON.stringify(serie.comments) %>
          </form>
        </div>
      </div>
    </div>
  </section>
<%- include("../partials/footer") %>